
@font-face {
  font-family: 'KFGQPC_Uthman_Taha_Naskh';
  src: url('fonts/KFGQPC_Uthman_Taha_Naskh.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Webdings-Regular';
  src: url('fonts/Webdings-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Wingdings-Regular-Font';
  src: url('fonts/Wingdings-Regular-Font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WINGDNG3';
  src: url('fonts/WINGDNG3.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Wingdings_2';
  src: url('fonts/Wingdings_2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'symbol_1';
  src: url('fonts/symbol_1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'KFGQPC_Uthman_Taha_Naskh', serif;
}

/* Additional styles for better viewing */
html {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1.2em;
  margin-bottom: 0.6em;
  font-weight: normal;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Style for lists */
ul, ol {
  padding-left: 20px;
  margin-top: 0;
  margin-bottom: 1em;
}

/* Style for images */
img {
  max-width: 100%;
  height: auto;
}
